
body
{
    font-family: Tahoma;
    font-size: 16px;
    background-color:#f7f7f3
}

table, td, th
{
    border:1px solid green;
    border-collapse: collapse;
    background-color:#ffe;
    margin:10px;
}
th
{
    background-color:#bfc;
    color:#888;
}
td,th
{
    vertical-align: middle;
    padding-left:5px;
    padding-right:5px;
    height: 30px;
}
/*tr:last-child td 
{
    background: #bfc;
}*/
input[type="submit"] 
{
    position: relative;
    background: #e0e0e0;
    width: 90px;
    height: 33px;
    padding-left: 0px; 
    color: #000;
    display: inline-table
}
input[type="file"] 
{
    position: relative;
    background: #e0e0e0;
    width: 215px;
    height: 30px;
    padding-left: 0px; 
    color: #000;
    alignment-adjust: 120%;
}
input[type="checkbox"] 
{
    background: #fff;
    width: 20px;
    height: 10px;
    padding-left: 0px; 
    color: #1c1c1c;
}
input 
{
    background: #fff;
    width: 180px;
    height: 25px;
    padding-left: 10px;
    background: #fff; 
    color: #000; 
}
select 
{
    background: #f4f5fa;
    border: 1px solid #949494; 
    width: 100px;
    height: 30px;
    padding: 4px;
    color: #000;
}
table#form td
{
    background-color:#bfc;
}
#reg
{
    width: 120px;
}
.input wrapper
{
    display: inline-block;

}
table#sub td {
    border:0px;
    border-collapse: collapse;
    background-color:#fff;
}



